<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334454353855-v3t06lrdhjqaa8nngts9bmo9rios65rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334454353855-v3t06lrdhjqaa8nngts9bmo9rios65rk</string>
	<key>API_KEY</key>
	<string>AIzaSyC4EU-o9af4TGrOKquws_NbxHBUlkfjF6s</string>
	<key>GCM_SENDER_ID</key>
	<string>334454353855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.ktrfitness</string>
	<key>PROJECT_ID</key>
	<string>ktrfitness-24bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>ktrfitness-24bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334454353855:ios:f9ccadab8975534a10bb0a</string>
</dict>
</plist>